<div id="wrapper">
  <%= render partial: 'shared/header' %>
  <%= render partial: 'shared/nav' %>

  <main class="main">
    <section class="main__cover" class="content"></section>
    <section class="main__leading">
      <div class="main__leading__inner">
        <p class="main__leading__inner__text">
          キャンプ用品は揃えるのにお金がかかる!? メルカリならそんな心配も無用です！<br>
          <span class="main__leading__inner__text-strong">人気の定番ブランドもお得価格で買える</span>ので、キャンプ初心者も<span class="main__leading__inner__text-strong">安心</span>して始められます！
        </p>
      </div>
    </section>
    <section class="main__banner">
      <div class="main__banner__main">
        <%= link_to '/', class: 'main__banner__main-a' do %>
          <%= image_tag 'index_menu_01.png', class: 'main__banner__main-image' %>
          <p class="main__banner__main-text">初心者も安心！3万円から始める、<br>中古キャンプ用品</p>
        <% end %>
      </div>
      <div class="main__banner__sub">
        <%= link_to '/', class: 'main__banner__sub-a' do %>
          <%= image_tag 'index_menu_01.png', class: 'main__banner__sub-image' %>
          <p class="main__banner__sub-text">初心者も安心！3万円から始める、<br>中古キャンプ用品</p>
        <% end %>
        <%= link_to '/', class: 'main__banner__sub-a' do %>
          <%= image_tag 'index_menu_01.png', class: 'main__banner__sub-image' %>
          <p class="main__banner__sub-text">初心者も安心！3万円から始める、<br>中古キャンプ用品</p>
        <% end %>
        <%= link_to '/', class: 'main__banner__sub-a' do %>
          <%= image_tag 'index_menu_01.png', class: 'main__banner__sub-image' %>
          <p class="main__banner__sub-text">初心者も安心！3万円から始める、<br>中古キャンプ用品</p>
        <% end %>
      </div>
    </section>
    <section class="main__category">
      <div class="main__category__inner">
        <h2 class="main__category__inner__header">
          <%= image_tag 'logo_red.svg', class: 'main__category__inner__header-image' %>
          <span class="main__category__inner__header-title">カテゴリーからさがす</span>
        </h2>
        <div class="main__category__inner__list">
          <%= link_to '/', class: 'main__category__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__category__inner__list-image' %>
            <p class="main__category__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__category__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__category__inner__list-image' %>
            <p class="main__category__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__category__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__category__inner__list-image' %>
            <p class="main__category__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__category__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__category__inner__list-image' %>
            <p class="main__category__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__category__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__category__inner__list-image' %>
            <p class="main__category__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__category__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__category__inner__list-image' %>
            <p class="main__category__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__category__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__category__inner__list-image' %>
            <p class="main__category__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__category__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__category__inner__list-image' %>
            <p class="main__category__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__category__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__category__inner__list-image' %>
            <p class="main__category__inner__list-title">初心者も安心！</p>
          <% end %>
        </div>
      </div>
    </section>
    <section class="main__brand">
      <div class="main__brand__inner">
        <h2 class="main__brand__inner__header">
          <%= image_tag 'logo_red.svg', class: 'main__brand__inner__header-image' %>
          <span class="main__brand__inner__header-title">ブランドからさがす</span>
        </h2>
        <div class="main__brand__inner__list">
          <%= link_to '/', class: 'main__brand__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__brand__inner__list-image' %>
            <p class="main__brand__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__brand__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__brand__inner__list-image' %>
            <p class="main__brand__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__brand__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__brand__inner__list-image' %>
            <p class="main__brand__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__brand__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__brand__inner__list-image' %>
            <p class="main__brand__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__brand__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__brand__inner__list-image' %>
            <p class="main__brand__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__brand__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__brand__inner__list-image' %>
            <p class="main__brand__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__brand__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__brand__inner__list-image' %>
            <p class="main__brand__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__brand__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__brand__inner__list-image' %>
            <p class="main__brand__inner__list-title">初心者も安心！</p>
          <% end %>
          <%= link_to '/', class: 'main__brand__inner__list-a' do %>
            <%= image_tag 'index_menu_02.png', class: 'main__brand__inner__list-image' %>
            <p class="main__brand__inner__list-title">初心者も安心！</p>
          <% end %>
        </div>
      </div>
    </section>
    <section class="main__others">
      <div class="main__others__inner">
        <h2 class="main__others__inner__header">ほかのカテゴリーを探す</h2>
        <%= link_to '/', class: 'main__others__inner__button' do %>メルカリTOPへ<% end %>
      </div>
    </section>
    <section class="main__app">
      <div class="main__app__inner">
        <h3>スマホでかんたんフリマアプリ</h2>
        <h2>今すぐ無料ダウンロード！</h2>
        <div class="main__app__inner__links">
          <%= link_to '/', class: 'main__app__inner__links-mercari' do %>
            <%= image_tag 'logo_red.svg', width: '40px', height: '40px' %>
          <% end %>
          <%= link_to '/', class: 'main__app__inner__links-app-store' do %>
            <%= image_tag 'app-store.svg', width: '134px', height: '40px' %>
          <% end %>
          <%= link_to '/', class: 'main__app__inner__links-google-play' do %>
            <%= image_tag 'google-play.svg', width: '134px', height: '40px' %>
          <% end %>
        </div>
      </div>
    </section>
  </main>

  <%= render partial: 'shared/footer' %>
</div>
