#wrapper
  = render partial: 'shared/header'
  = link_to sell_products_path, class: 'pagetop' do
    %p 出品
    %i.fa.fa-camera
  %main.main
    .main__slider
      .main__slider__controller
        %button.main__slider__controller__button-left
        %button.main__slider__controller__button-right
      %ul.main__slider__contents
        %li.main__slider__contents__item{"style": "background-image: url('#{asset_path('background_01.jpg')}');"}
        %li.main__slider__contents__item{"style": "background-image: url('#{asset_path('background_02.jpg')}');"}
        %li.main__slider__contents__item{"style": "background-image: url('#{asset_path('background_01.jpg')}');"}
        %li.main__slider__contents__item{"style": "background-image: url('#{asset_path('background_02.jpg')}');"}
    %section.main__category
      .main__category__inner
        %h2.main__category__inner__header
          人気のカテゴリー
        %ul.main__category__inner__list
          %li.main__category__inner__list-link
            = link_to "レディース", '/', class: 'main__category__inner__list-link-a'
          %li.main__category__inner__list-link
            = link_to "メンズ", '/', class: 'main__category__inner__list-link-a'
          %li.main__category__inner__list-link
            = link_to "家電・スマホ・カメラ", '/', class: 'main__category__inner__list-link-a'
          %li.main__category__inner__list-link
            = link_to "おもちゃ・ホビー・グッズ", '/', class: 'main__category__inner__list-link-a'
    %section.main__ladies
      .main__ladies__inner
        %h2.main__ladies__inner__header
          レディース新着アイテム
        %ul.main__ladies__inner__list
          - last_num = -1
          - @images.each_with_index do |image, j|
            - if last_num != image.product_id-1 then
              %li.main__ladies__inner__list-item
                = link_to '/', class: 'main__ladies__inner__list-item-a' do
                  = image_tag("#{image.image}/", class: 'main__ladies__inner__list-item-image')
                  %span.main__hobbys__inner__list-item-price ¥#{@products[image.product_id-1].price.to_s(:delimited)}
                  %p.main__ladies__inner__list-item-title #{@products[image.product_id-1].name}
              - last_num = image.product_id-1
    %section.main__mens
      .main__mens__inner
        %h2.main__mens__inner__header
          メンズ新着アイテム
        %ul.main__mens__inner__list
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %span.main__mens__inner__list-item-price ¥1,500
              %p.main__mens__inner__list-item-title 初心者も安心！
    %section.main__electronics
      .main__electronics__inner
        %h2.main__electronics__inner__header
          家電・スマホ・カメラ新着アイテム
        %ul.main__electronics__inner__list
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %span.main__electronics__inner__list-item-price ¥1,500
              %p.main__electronics__inner__list-item-title 初心者も安心！
    %section.main__hobbys
      .main__hobbys__inner
        %h2.main__hobbys__inner__header
          おもちゃ・ホビー・グッズ新着アイテム
        %ul.main__hobbys__inner__list
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %span.main__hobbys__inner__list-item-price ¥1,500
              %p.main__hobbys__inner__list-item-title 初心者も安心！
    %section.main__category
      .main__brand__inner
        %h2.main__brand__inner__header
          人気のブランド
        %ul.main__brand__inner__list
          %li.main__brand__inner__list-link
            = link_to "シャネル", '/', class: 'main__brand__inner__list-link-a'
          %li.main__brand__inner__list-link
            = link_to "ルイヴィトン", '/', class: 'main__brand__inner__list-link-a'
          %li.main__brand__inner__list-link
            = link_to "シュプリーム", '/', class: 'main__brand__inner__list-link-a'
          %li.main__brand__inner__list-link
            = link_to "ナイキ", '/', class: 'main__brand__inner__list-link-a'
    %section.main__ladies
      .main__ladies__inner
        %h2.main__ladies__inner__header
          レディース新着アイテム
        %ul.main__ladies__inner__list
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！初心者も安心！初心者も安心！
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！
          %li.main__ladies__inner__list-item
            = link_to '/', class: 'main__ladies__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image'
              %p.main__ladies__inner__list-item-title 初心者も安心！
    %section.main__mens
      .main__mens__inner
        %h2.main__mens__inner__header
          メンズ新着アイテム
        %ul.main__mens__inner__list
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
          %li.main__mens__inner__list-item
            = link_to '/', class: 'main__mens__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image'
              %p.main__mens__inner__list-item-title 初心者も安心！
    %section.main__electronics
      .main__electronics__inner
        %h2.main__electronics__inner__header
          家電・スマホ・カメラ新着アイテム
        %ul.main__electronics__inner__list
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
          %li.main__electronics__inner__list-item
            = link_to '/', class: 'main__electronics__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image'
              %p.main__electronics__inner__list-item-title 初心者も安心！
    %section.main__hobbys
      .main__hobbys__inner
        %h2.main__hobbys__inner__header
          おもちゃ・ホビー・グッズ新着アイテム
        %ul.main__hobbys__inner__list
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
          %li.main__hobbys__inner__list-item
            = link_to '/', class: 'main__hobbys__inner__list-item-a' do
              = image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image'
              %p.main__hobbys__inner__list-item-title 初心者も安心！
  = render partial: 'shared/footer'
