<div id="wrapper">
  <%= render partial: 'shared/header' %>

  <main class="main">
    <section class="main__cover" class="content"></section>
    <section class="main__category">
      <div class="main__category__inner">
        <h2 class="main__category__inner__header">
          人気のカテゴリー
        </h2>
        <ul class="main__category__inner__list">
          <li>レディース</li>
          <li>メンズ</li>
          <li>家電・スマホ・カメラ</li>
          <li>おもちゃ・ホビー・グッズ</li>
        </ul>
      </div>
    </section>
    <section class="main__ladies">
      <div class="main__ladies__inner">
        <h2 class="main__ladies__inner__header">
          レディース新着アイテム
        </h2>
        <ul class="main__ladies__inner__list">
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！初心者も安心！初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
        </ul>
      </div>
    </section>

    <section class="main__mens">
      <div class="main__mens__inner">
        <h2 class="main__mens__inner__header">
          メンズ新着アイテム
        </h2>
        <ul class="main__mens__inner__list">
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
        </ul>
      </div>
    </section>

    <section class="main__electronics">
      <div class="main__electronics__inner">
        <h2 class="main__electronics__inner__header">
          家電・スマホ・カメラ新着アイテム
        </h2>
        <ul class="main__electronics__inner__list">
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
        </ul>
      </div>
    </section>

    <section class="main__hobbys">
      <div class="main__hobbys__inner">
        <h2 class="main__hobbys__inner__header">
          おもちゃ・ホビー・グッズ新着アイテム
        </h2>
        <ul class="main__hobbys__inner__list">
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
        </ul>
      </div>
    </section>


    <section class="main__category">
      <div class="main__category__inner">
        <h2 class="main__category__inner__header">
          人気のブランド
        </h2>
        <ul class="main__category__inner__list">
          <li>シャネル</li>
          <li>ルイヴィトン</li>
          <li>シュプリーム</li>
          <li>ナイキ</li>
        </ul>
      </div>
    </section>
    <section class="main__ladies">
      <div class="main__ladies__inner">
        <h2 class="main__ladies__inner__header">
          レディース新着アイテム
        </h2>
        <ul class="main__ladies__inner__list">
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！初心者も安心！初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__ladies__inner__list-item">
            <%= link_to '/', class: 'main__ladies__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__ladies__inner__list-item-image' %>
              <p class="main__ladies__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
        </ul>
      </div>
    </section>

    <section class="main__mens">
      <div class="main__mens__inner">
        <h2 class="main__mens__inner__header">
          メンズ新着アイテム
        </h2>
        <ul class="main__mens__inner__list">
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__mens__inner__list-item">
            <%= link_to '/', class: 'main__mens__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__mens__inner__list-item-image' %>
              <p class="main__mens__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
        </ul>
      </div>
    </section>

    <section class="main__electronics">
      <div class="main__electronics__inner">
        <h2 class="main__electronics__inner__header">
          家電・スマホ・カメラ新着アイテム
        </h2>
        <ul class="main__electronics__inner__list">
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__electronics__inner__list-item">
            <%= link_to '/', class: 'main__electronics__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__electronics__inner__list-item-image' %>
              <p class="main__electronics__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
        </ul>
      </div>
    </section>

    <section class="main__hobbys">
      <div class="main__hobbys__inner">
        <h2 class="main__hobbys__inner__header">
          おもちゃ・ホビー・グッズ新着アイテム
        </h2>
        <ul class="main__hobbys__inner__list">
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
          <li class="main__hobbys__inner__list-item">
            <%= link_to '/', class: 'main__hobbys__inner__list-item-a' do %>
              <%= image_tag 'index_menu_02.png', class: 'main__hobbys__inner__list-item-image' %>
              <p class="main__hobbys__inner__list-item-title">初心者も安心！</p>
              <% end %>
          </li>
        </ul>
      </div>
    </section>
  </main>

  <aside class="app">
    <div class="app__inner">
      <hgroup class="app__inner__header">
        <h3>スマホでかんたんフリマアプリ</h2>
        <h2>今すぐ無料ダウンロード！</h2>
      </hgroup>
      <div class="app__inner__links">
        <%= link_to '/', class: 'app__inner__links-mercari' do %>
          <%= image_tag 'logo_red.svg', width: '40px', height: '40px' %>
        <% end %>
        <%= link_to '/', class: 'app__inner__links-app-store' do %>
          <%= image_tag 'app-store.svg', width: '134px', height: '40px' %>
        <% end %>
        <%= link_to '/', class: 'app__inner__links-google-play' do %>
          <%= image_tag 'google-play.svg', width: '134px', height: '40px' %>
        <% end %>
      </div>
      <%= image_tag 'app.png', class: 'app__inner__app-image' %>
    </div>
  </aside>

  <%= render partial: 'shared/footer' %>
</div>
