#wrapper
  = render partial: 'shared/header'
  = render partial: 'shared/nav'
  %main.main
    = render partial: 'mypage/leftcontent'
    .main__right-content
      .main__right-content__user-info
        %h2 本人情報の登録
        = form_for current_user, url: user_registration_path, method: :patch, html: {class: "mypage-form"} do |f|
          .mypage-form__content
            %p
              お客さまの本人情報をご登録ください。
              %br
              登録されたお名前・生年月日を変更する場合、本人確認書類の提出が必要になります。
            %p.text-right
              = link_to "#" do
                本人確認書類のアップロードについて
                %i.fa.fa-angle-right
          .mypage-form__group
            %label お名前
            %p 
              = current_user.family_name
              = current_user.first_name
          .mypage-form__group
            %label お名前カナ
            %p 
              = current_user.family_name_cana
              = current_user.first_name_cana
          .mypage-form__group
            %label 生年月日
            %p
              = @birthday
          .mypage-form__group
            %label 郵便番号
            %span 任意
            = f.text_field :postal_code, placeholder: "例）1234567", class: "mypage-form__group__form-default"
          .mypage-form__group
            %label 都道府県
            %span 任意
            .mypage-form__group__select
              .mypage-form__group__select__box
                %i.fa.fa-chevron-down
                = f.select :prefecture, @prefecture
          .mypage-form__group
            %label 市区町村
            %span 任意
            = f.text_field :city, placeholder: "例) 横浜市緑区", class: "mypage-form__group__form-default"
          .mypage-form__group
            %label 番地
            %span 任意
            = f.text_field :address, placeholder: "例) 青山1−1−1", class: "mypage-form__group__form-default"
          .mypage-form__group
            %label 建物名
            %span 任意
            = f.text_field :building, placeholder: "例) 柳ビル103", class: "mypage-form__group__form-default"
          = f.submit "登録する", class: "user-btn-default user-btn-red mypage-btn"
          .mypage-form__group
            %p.text-right
              = link_to "#" do
                本人情報登録について
                %i.fa.fa-angle-right
  = render partial: 'shared/footer'