#wrapper
  = render partial: 'shared/header2'
  .user-main
    .user-main__content
      %h2.user-title 会員情報入力
      = form_for @user, url: sms_confirmation_signup_index_path, method: :get, html: { class: "user-form"} do |f|
        - if @sns.present?
          = f.fields_for @sns do |i|
            =i.text_field :uid, type: "hidden", value: @sns[:uid]
            =i.text_field :provider, type: "hidden", value: @sns[:provider]
        .user-form__content
          .user-form__content__group
            %label ニックネーム
            %span.user-form__content__group--attention 必須
            =f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "例)フリマケ太郎", class: "user-form__content__group__default"
            -if @user.errors[:nickname][0] != nil
              .error-message-box
                - @user.errors[:nickname].each do |error|
                  = "ニックネーム#{error}" 
                  %br

          .user-form__content__group
            %label メールアドレス
            %span.user-form__content__group--attention 必須
            =f.email_field :email, autocomplete: "email", placeholder: "PC・携帯どちらでも可", class: "user-form__content__group__default"
            -if @user.errors[:email][0] != nil
              .error-message-box
                - @user.errors[:email].each do |error|
                  = "メールアドレス#{error}" 
                  %br

          - unless @sns.present?
            .user-form__content__group.user-form__content__password
              %label パスワード
              %span.user-form__content__group--attention 必須
              =f.password_field :password, autocomplete: "password", placeholder: "7文字以上の半角英数字", class: "user-form__content__group__default"
              -if @user.errors[:password][0] != nil
                .error-message-box
                  - @user.errors[:password].each do |error|
                    = "パスワード#{error}"
                    %br
              .user-form__content__password__check
                .checkbox-default#password-check
                  %input
                    %i.fa.fa-check#password-check-mark
                    %label パスワードを表示する
                .user-form__content__password__check__show

          .user-form__content__group
            %h3.sub-title 本人確認
            %p.user-text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

          .user-form__content__group
            %label お名前(全角)
            %span.user-form__content__group--attention 必須
            .form-half
              =f.text_field :family_name, autocomplete: "family_name", placeholder: "例) 山田", class: "user-form__content__group__default half"
              =f.text_field :first_name, autocomplete: "first_name", placeholder: "例) 彩", class: "user-form__content__group__default half"
            -if @user.errors[:family_name][0] != nil || @user.errors[:first_name][0] != nil
              .error-message-box
                - if @user.errors[:family_name][0] != nil && @user.errors[:first_name][0] != nil
                  - @user.errors[:family_name].each do |error|
                    = "姓#{error}"
                    %br
                  - @user.errors[:first_name].each do |error|
                    = "名#{error}"
                    %br
                -elsif @user.errors[:first_name][0] != nil
                  - @user.errors[:first_name].each do |error|
                    = "名#{error}"
                    %br
                -else
                  - @user.errors[:family_name].each do |error|
                    = "姓#{error}"
                    %br

          .user-form__content__group
            %label お名前カナ(全角)
            %span.user-form__content__group--attention 必須
            .form-half
              =f.text_field :family_name_cana, autocomplete: "family_name_cana", placeholder: "例) ヤマダ", class: "user-form__content__group__default half"
              =f.text_field :first_name_cana, autocomplete: "first_name_cana", placeholder: "例) アヤ", class: "user-form__content__group__default half"
            -if @user.errors[:family_name_cana][0] != nil || @user.errors[:first_name_cana][0] != nil
              .error-message-box
                - if @user.errors[:family_name_cana][0] != nil && @user.errors[:first_name_cana][0] != nil
                  - @user.errors[:family_name_cana].each do |error|
                    = "姓（カナ）#{error}"
                    %br
                  - @user.errors[:first_name_cana].each do |error|
                    = "名（カナ）#{error}"
                    %br
                -elsif @user.errors[:first_name_cana][0] != nil
                  - @user.errors[:first_name_cana].each do |error|
                    = "名（カナ）#{error}"
                    %br
                -else
                  - @user.errors[:family_name_cana].each do |error|
                    = "姓（カナ）#{error}"
                    %br

          .user-form__content__group
            %label 生年月日
            %span.user-form__content__group--attention 必須
            %br
              .user-form__content__group__user-select
                .user-form__content__group__user-select__birthday-select
                  .user-form__content__group__user-select__birthday-select__box.year
                    %i.fa.fa-chevron-down
                    %select.user-select-default#user-birthday-year
                      %option ---
                      - birthday_years.each do |year|
                        %option{value: year}
                          = year
                  %span 年
                .user-form__content__group__user-select__birthday-select
                  .user-form__content__group__user-select__birthday-select__box.month
                    %i.fa.fa-chevron-down
                    %select.user-select-default#user-birthday-month
                      %option ---
                      %option{value: "01"} 01
                      %option{value: "02"} 02
                      %option{value: "03"} 03
                      %option{value: "04"} 04
                      %option{value: "05"} 05
                      %option{value: "06"} 06
                      %option{value: "07"} 07
                      %option{value: "08"} 08
                      %option{value: "09"} 09
                      %option{value: 10} 10
                      %option{value: 11} 11
                      %option{value: 12} 12
                  %span 月
                .user-form__content__group__user-select__birthday-select
                  .user-form__content__group__user-select__birthday-select__box.day
                    %i.fa.fa-chevron-down
                    %select.user-select-default#user-birthday-day
                      %option ---
                      - set_days.each do |day|
                        %option{value: day}
                          = day
                  %span 日
              =f.text_field :birthday, autocomplete: "birthday", type: "hidden", value: "", class: "user-birthday-data"
              -if @user.errors[:birthday][0] != nil
                .error-message-box
                  - @user.errors[:birthday].each do |error|
                    = "生年月日#{error}"
                    %br

              %p.user-form-info
                ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .user-form__content__group
            = recaptcha_tags
            .user-form__content__group
              %p.user-text.user-text-center
                「次へ進む」のボタンを押すことにより、
                =link_to "利用規約", '#'
                に同意したものとみなします
              = f.submit '次へ進む', class: "user-btn-default user-btn-red"
            .user-form__content__group.user-text-right
              %p.user-text
                = link_to '#' do
                  本人情報の登録について
                  %i.fa.fa-angle-right
  = render partial: 'shared/footer2'
