<h2>会員情報入力</h2>

<%= form_for @user, url: sms_confirmation_signup_index_path, method: :get do |f| %>

  Nickname
  <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "メルカリ太郎" %>
  Email
  <%= f.email_field :email, autocomplete: "email", placeholder: "PC・携帯どちらでも可" %>
  Password
  <%= f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上" %>
  お名前(全角) 
  <%= f.label :name %>
  <%= f.text_field :family_name, autocomplete: "family_name", placeholder: "山田" %>
  <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "彩" %>
  お名前カナ(全角)
  <%= f.text_field :family_name_cana, autocomplete: "family_name_cana", placeholder: "ヤマダ" %>
  <%= f.text_field :first_name_cana, autocomplete: "first_name_cana", placeholder: "アヤ" %>
  生年月日
  <%= f.text_field :birthday, autocomplete: "birthday" %>

  <%= f.submit '次へ進む' %>


<% end %>