%aside.app{"style": "background-image: url('#{asset_path('background_02.jpg')}');"}
  .app__inner
    %hgroup.app__inner__header
      %h3
        スマホでかんたんフリマアプリ
        %h2 今すぐ無料ダウンロード！
    .app__inner__links
      = link_to '/', class: 'app__inner__links-mercari' do
        = image_tag 'logo_red.svg', width: '40px', height: '40px'
      = link_to '/', class: 'app__inner__links-app-store' do
        = image_tag 'app-store.svg', width: '134px', height: '40px'
      = link_to '/', class: 'app__inner__links-google-play' do
        = image_tag 'google-play.svg', width: '134px', height: '40px'
    = image_tag 'app.png', class: 'app__inner__app-image'
%footer.footer
  .footer__inner
    .footer__inner__about
      %h1.footer__inner__about__header メルカリについて
      %ul.footer__inner__about__list
        %li.footer__inner__about__list-item 会社概要
        %li.footer__inner__about__list-item 採用情報
        %li.footer__inner__about__list-item プレスリリース
        %li.footer__inner__about__list-item 公式ブログ
        %li.footer__inner__about__list-item メルカリロゴ利用ガイドライン
    .footer__inner__help
      %h1.footer__inner__help__header ヘルプ＆ガイド
      %ul.footer__inner__help__list
        %li.footer__inner__help__list-item メルカリガイド
        %li.footer__inner__help__list-item らくらくメルカリ便
        %li.footer__inner__help__list-item ゆうゆうメルカリ便
        %li.footer__inner__help__list-item 大型メルカリ便
        %li.footer__inner__help__list-item 車体取引ガイド
        %li.footer__inner__help__list-item メルカリあんしん・あんぜん宣言！
        %li.footer__inner__help__list-item 偽ブランド品撲滅への取り組み
        %li.footer__inner__help__list-item メルカリボックス
    .footer__inner__privacy
      %h1.footer__inner__privacy__header プライバシーと利用規約
      %ul.footer__inner__privacy__list
        %li.footer__inner__privacy__list-item プライバシーポリシー
        %li.footer__inner__privacy__list-item メルカリ利用規約
        %li.footer__inner__privacy__list-item あんしんスマホサポート制度に関する利用特約
        %li.footer__inner__privacy__list-item コンプライアンスポリシー
        %li.footer__inner__privacy__list-item 個人データの安全管理に係る基本方針
        %li.footer__inner__privacy__list-item 特定商取引に関する表記
        %li.footer__inner__privacy__list-item 資金決済法に基づく表示
        %li.footer__inner__privacy__list-item 法令順守と犯罪抑止のために
    .footer__inner__nation
      %h1.footer__inner__nation__header 国
      %ul.footer__inner__nation__list
        %li.footer__inner__nation__list-item 日本
        %li.footer__inner__nation__list-item United States
  .footer__copyright
    = link_to '/', class: 'footer__copyright__logo' do
      = image_tag 'logo_white_mercari.svg', class: 'footer__copyright__logo-image', width: '132px', height: '33px'
    %p © 2019 Mercari
