<header class="header">
  <div class="header__upper-contents">
    <h1 class="header__upper-contents__logo">
      <%= link_to '/' do %>
        <%= image_tag 'fmarket_logo_red.svg', class: 'header__upper-contents__logo-image', width: '134px', height: '36px' %>
      <% end %>
    </h1>
    <form action="/search/" class="header__upper-contents__search">
      <input type="search" name="keyword" placeholder="何かお探しですか？" class="header__upper-contents__search-box" value="">
      <button class="header__upper-contents__search-button"><i class="fa fa-search"></i></button>
    </form>
  </div>
  <div class="header__lower-contents">
    <div class="header__lower-contents__left-contents">
      <ul class="header__lower-contents__left-contents__menu">
        <li><i class="fa fa-list"></i>カテゴリーから探す</li>
        <li><i class="fa fa-tag"></i>ブランドから探す</li>
      </ul>
    </div>
    <div class="header__lower-contents__right-contents">
      <ul class="header__lower-contents__right-contents__menu">
        <li class="sign_up">新規会員登録</li>
        <li class="login">ログイン</li>
      </ul>
    </div>
  </div>
</header>

<nav class="nav">
  <ul class="nav__scope">
    <li>メルカリ</li>
    <li>メルカリなら新品も中古もお得！キャンプ用品 大特集！</li>
  </ul>
</nav>

<main class="main">
  <section class="main__cover" class="content"></section>
  <section class="main__leading">
    <p>キャンプ用品は揃えるのにお金がかかる!? メルカリならそんな心配も無用です！<br>人気の定番ブランドもお得価格で買えるので、キャンプ初心者も安心して始められます！</p>
  </section>
  <section class="main__banner">
    <div class="main__banner__main">
      <%= link_to '/', class: 'main__banner__main-a' do %>
        <%= image_tag 'index_menu_01.png', class: 'main__banner__main-image' %>
        <p class="main__banner__main-text">初心者も安心！3万円から始める、<br>中古キャンプ用品</p>
      <% end %>
    </div>

    <div class="main__banner__sub">
      <%= link_to '/', class: 'main__banner__sub-a' do %>
        <%= image_tag 'index_menu_01.png', class: 'main__banner__sub-image' %>
        <p class="main__banner__sub-text">初心者も安心！3万円から始める、<br>中古キャンプ用品</p>
      <% end %>
      <%= link_to '/', class: 'main__banner__sub-a' do %>
        <%= image_tag 'index_menu_01.png', class: 'main__banner__sub-image' %>
        <p class="main__banner__sub-text">初心者も安心！3万円から始める、<br>中古キャンプ用品</p>
      <% end %>
      <%= link_to '/', class: 'main__banner__sub-a' do %>
        <%= image_tag 'index_menu_01.png', class: 'main__banner__sub-image' %>
        <p class="main__banner__sub-text">初心者も安心！3万円から始める、<br>中古キャンプ用品</p>
      <% end %>
    </div>
  </section>
</main>


<footer class="footer">
</footer>
