.main__left-content
  %ul.main__left-content__menu
    %li.main__left-content__menu-link.gray
      = link_to "マイページ", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "お知らせ", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "やることリスト", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "いいね！一覧", like_mypage_path, class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "出品する", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "出荷した商品-出品中", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "出荷した商品-取引中", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "出荷した商品-売却済み", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "購入した商品-取引中", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "購入した商品-過去の取引", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "ニュース一覧", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "評価一覧", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "ガイド", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "お問い合わせ", '/', class: 'main__left-content__menu-link-a'
  %h2.main__left-content__title メルペイ
  %ul.main__left-content__menu
    %li.main__left-content__menu-link
      = link_to "売上・振込申請", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "ポイント", '/', class: 'main__left-content__menu-link-a'
  %h2.main__left-content__title 設定
  %ul.main__left-content__menu
    %li.main__left-content__menu-link
      = link_to "プロフィール", profile_signup_path, class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "発送元・お届け先住所変更", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "支払い方法", card_mypage_path, class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "メール/パスワード", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "本人情報", edit_user_registration_path, class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "電話番号の確認", '/', class: 'main__left-content__menu-link-a'
    %li.main__left-content__menu-link
      = link_to "ログアウト", logout_mypage_path, class: 'main__left-content__menu-link-a'