- breadcrumb :mypage, @mypage
#wrapper
  .head
    = render partial: 'shared/header'
    = render partial: 'shared/nav'
  %main.main
    = render partial: 'leftcontent'
    .main__right-content
      .main__right-content__header{"style": "background-image: url('#{asset_path('background_01.jpg')}');"}
      %ul.main__right-content__tabs
        %li.main__right-content__tabs-active
          = link_to "お知らせ", '/', class: 'main__right-content__tabs-active-a'
        %li.main__right-content__tabs-inactive
          = link_to "やることリスト", '/', class: 'main__right-content__tabs-inactive-a'
      %ul.main__right-content__lists
        %li.main__right-content__lists__item
          = link_to '/', class: 'main__right-content__lists__item-a' do
            = image_tag 'index_menu_02.png', class: 'main__right-content__lists__item-image'
            .main__right-content__lists__item__right
              %p.main__right-content__lists__item__right-text 事務局から個別メッセージ
              %p.main__right-content__lists__item__right-time 2時間前
        %li.main__right-content__lists__item
          = link_to '/', class: 'main__right-content__lists__item-a' do
            = image_tag 'index_menu_02.png', class: 'main__right-content__lists__item-image'
            .main__right-content__lists__item__right
              %p.main__right-content__lists__item__right-text 事務局から個別メッセージ
              %p.main__right-content__lists__item__right-time 2時間前
        %li.main__right-content__lists__item
          = link_to '/', class: 'main__right-content__lists__item-a' do
            = image_tag 'index_menu_02.png', class: 'main__right-content__lists__item-image'
            .main__right-content__lists__item__right
              %p.main__right-content__lists__item__right-text 事務局から個別メッセージ
              %p.main__right-content__lists__item__right-time 2時間前
        %li.main__right-content__lists__item
          = link_to '/', class: 'main__right-content__lists__item-a' do
            = image_tag 'index_menu_02.png', class: 'main__right-content__lists__item-image'
            .main__right-content__lists__item__right
              %p.main__right-content__lists__item__right-text 事務局から個別メッセージ
              %p.main__right-content__lists__item__right-time 2時間前
        %li.main__right-content__lists__item
          = link_to '/', class: 'main__right-content__lists__item-a' do
            = image_tag 'index_menu_02.png', class: 'main__right-content__lists__item-image'
            .main__right-content__lists__item__right
              %p.main__right-content__lists__item__right-text 事務局から個別メッセージ
              %p.main__right-content__lists__item__right-time 2時間前
        %li.main__right-content__lists__item
          = link_to "一覧を見る", '/', class: 'main__right-content__lists__item-button'
    .main__right-content
      %h2.main__right-content__title 購入した商品
      %ul.main__right-content__tabs
        %li.main__right-content__tabs-active
          = link_to "取引中", '/', class: 'main__right-content__tabs-active-a'
        %li.main__right-content__tabs-inactive
          = link_to "過去の取引", '/', class: 'main__right-content__tabs-inactive-a'
      %ul.main__right-content__lists
        %li.main__right-content__lists__none{"style": "background-image: url('#{asset_path('logo_gray.svg')}');"}
          取引中の商品がありません
  = render partial: 'shared/footer'
