#wrapper
  = render partial: 'shared/header3'
  %main.single-main
    %section.single-main__l-single-container
      %h2.l-single-head
        購入内容の確認
      %section.buy-item
        .buy-item__inner
          %h3.buy-item-image
            = image_tag "/uploads/image/image/#{@product2[0][:id]}/#{@product2[0][:image]}"
          %p.buy-item-name
            = @product1[:name]
          %form.buy-farm{action: "#", method: "POST", novalidate: "novalidate" }
            %p.buy-price
              = "¥ #{@product1.price.to_s(:delimited)}"
              %span.buy-item-shopping
                = @postage
            %ul.buy-point
              %li.point-parent
                .user-buy-point
                  = @havepoint
            %ul.buy-all-price
              %li.price-row
                .user-buy-all-price 支払い金額
                .user-buy-all-price
                  %span.data-buy-pay
                    = "¥ #{@product1.price.to_s(:delimited)}"
            %button.btn-default.btn-red.bold{type: "submit"} 購入する
      %section.buy-user-info
        .buy-user-info__adress
          %h3 配送先
          %address.buy-user-info-text
            = "〒 #{@addressinfo.postal_code}"
            %br
            = @addressinfo.prefecture 
            = @addressinfo.city
            = @addressinfo.address
            = @addressinfo.building 
            %br
            = @addressinfo.family_name
            = @addressinfo.first_name
          %p.buy-user-info-text
          %a.buy-user-info-fix{href: "#"}
            %span 変更する
            %i.icon-arrow-right
      %section.buy-user-credit
        .buy-user-credit__info
          %h3 支払い方法
          %a.buy-user-credit-text
            ****************
            %br
            01/01
            %br
            VISAってるよ！
          %p.buy-user-creit-text
          %a.buy-user-credit-fix{href: "#"}
            %span 変更する
            %i.icon-arrow-right


  = render partial: 'shared/footer2'