#wrapper
  = render partial: 'shared/header'
  %main.main
    .product-box-content
      %h2.product-box-content__product-name 商品タイトル
      .product-box-content__product-main-content
        .product-box-content__product-main-content__product-image
          .product-box-content__product-main-content__product-image__big
            = image_tag "logo_white.svg"
          .product-box-content__product-main-content__product-image__others
            .image-list
              = image_tag "test_image.jpg"
            .image-list
              = image_tag "logo_white.svg"
            .image-list
              = image_tag "test_image2.jpg"
            .image-list
              = image_tag "logo_white.svg"
            .image-list
              = image_tag "test_image3.jpg"
            .image-list
              = image_tag "logo_white.svg"

        %table.product-box-content__product-main-content__product-information
          %tbody
            %tr
              %th 出品者
              %td
                = link_to "変数　名前", "#" 
                .seller-evalution
                  .seller-ratings
                    %i.fa.fa-smile-o
                    %span 数
                  .seller-ratings
                    %i.fa.fa-meh-o
                    %span 数
                  .seller-ratings
                    %i.fa.fa-frown-o
                    %span 数
            %tr
              %th カテゴリー
              %td
                = link_to "カテゴリー１", "#"
                = link_to "カテゴリー２", "#", class: "sub-category"
                = link_to "カテゴリー３", "#", class: "sub-category"
            %tr
              %th ブランド
              %td
                = link_to "変数", "#"
            %tr
              %th 商品の状態
              %td
                変数
            %tr
              %th 配送料の負担
              %td 
                変数
            %tr
              %th 配送の方法
              %td
                変数
            %tr
              %th 配送元地域
              %td
                = link_to "変数", "#" 
            %tr
              %th 発送日の目安
              %td
                変数

      .product-box-content__product-price-box
        %span.product-price 値段変数
        %span.pruduct-tax  (税込)
        %span.product-postage 送料変数

      .product-box-content__buy-btn
        = link_to "購入画面に進む", "#"

      .product-box-content__product-information
        %p.product-box-content__product-information__text
          商品の説明文

      .product-box-content__btn-box
        .product-box-content__btn-box__left
          = button_tag "#{content_tag(:i, '', class: 'fa fa-heart')}いいね! 0".html_safe, type: :button, class: "like-btn"
          = link_to "#{content_tag(:i, '', class: 'fa fa-flag-checkered')}不適切な商品の報告".html_safe, "#", class: "report-btn"
        .product-box-content__btn-box__right
          = link_to "#{content_tag(:i, '', class: 'fa fa-lock')}あんしん・あんぜんへの取り組み".html_safe, "#", class: "safe-guide"  

    .product-box-content-under
      .product-box-content-under__message
        .product-box-content__message__box
          = form_for "#", html: { class: "product-message-form"} do |f|
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.text_area :text, class: "product-textarea"
            = f.submit 'コメントする', class: "product-mesage-submit"
    
    %ul.product-link-list
      %li.product-link-list__left
        = link_to "前の商品", "#"
      %li.product-link-list__right
        = link_to "次の商品", "#"

    .product-media-box
      %ul.product-media-box__list
        %li
          = link_to "#" do
            %i.fa.fa-facebook-official
        %li
          = link_to "#" do
            %i.fa.fa-twitter
        %li 
          = link_to "#" do
            %i.fa.fa-pinterest

    .products-introduction
      .products-introduction__user
        %h2.product-box-head
          = link_to "「出品者の名前」さんのその他の商品", "#", class: "product-box-head__link"
        .product-introduction-box-content
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数

      .products-introduction__category
        %h2.product-box-head
          = link_to "カテゴリー名　その他の商品", "#", class: "product-box-head__link"
        .product-introduction-box-content
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
          .product-introduction-box-content__product-box
            = link_to "#" do
              %figure.product-box-photo
                = image_tag "logo_white.svg"
              .product-box-body
                %h3.product-box-body__title 商品タイトルううううううううううううううううううう
                .product-box-body__other
                  .product-box-body__other__price 値段
                  .product-box-body__other__like
                    %span 数
  
    %nav.bread-crumbs-bottom
      %ul
        %li
          = link_to "メルカリ", "#"
        %li
          %span 商品名 

  = render partial: 'shared/footer'