#wrapper
  = render partial: 'shared/header'
  = render partial: 'shared/nav'
  %main.main
    .product-box-content
      %h2.product-box-content__product-name
        = @product.name
      .product-box-content__product-main-content
        .product-box-content__product-main-content__product-image
          .product-box-content__product-main-content__product-image__big
            -@images.each do |img|
              = image_tag("/uploads/image/image/#{img[:id]}/#{img[:image]}")
          .product-box-content__product-main-content__product-image__others
            -@images.each do |img|
              .image-list
                = image_tag("#{img.image}")
          - if @product.selling_status == "売却済"
            .product-box-content__product-main-content__product-image__soldout-box
              .product-box-content__product-main-content__product-image__soldout-box__text SOLD

        %table.product-box-content__product-main-content__product-information
          %tbody
            %tr
              %th 出品者
              %td
                = link_to "#{@seller.nickname}", "#"
                .seller-evalution
                  .seller-ratings
                    %i.fa.fa-smile-o
                    %span 0
                  .seller-ratings
                    %i.fa.fa-meh-o
                    %span 0
                  .seller-ratings
                    %i.fa.fa-frown-o
                    %span 0
            %tr
              %th カテゴリー
              %td
                = link_to "#{@category.name}", "#"
                = link_to "カテゴリー２", "#", class: "sub-category"
                = link_to "カテゴリー３", "#", class: "sub-category"
            %tr
              %th ブランド
              %td
                -if @product.brand != nil
                  = link_to "#{@product.brand.name}", "#"
            %tr
              %th 商品の状態
              %td
                = @product.status
            %tr
              %th 配送料の負担
              %td 
                = @delivery
            %tr
              %th 配送の方法
              %td
                = @delivery.responsibility
            %tr
              %th 配送元地域
              %td
                = link_to "#{@product.area}", "#"
            %tr
              %th 発送日の目安
              %td
                = @product.sending_days

      .product-box-content__product-price-box
        %span.product-price
          ="¥#{@product.price.to_s(:delimited)}"
        %span.pruduct-tax  (税込)
        %span.product-postage
          = @postage

      .product-box-content__buy-btn
        -if @product.selling_status == "出品中"
          = link_to "購入画面に進む", pay_product_path
        - else
          .sold-out
            売り切れました

      .product-box-content__product-information
        %p.product-box-content__product-information__text
          = @product.information

      .product-box-content__btn-box
        .product-box-content__btn-box__left
          = button_tag "#{content_tag(:i, '', class: 'fa fa-heart')}いいね! 0".html_safe, type: :button, class: "like-btn"
          = link_to "#{content_tag(:i, '', class: 'fa fa-flag-checkered')}不適切な商品の報告".html_safe, "#", class: "report-btn"
        .product-box-content__btn-box__right
          = link_to "#{content_tag(:i, '', class: 'fa fa-lock')}あんしん・あんぜんへの取り組み".html_safe, "#", class: "safe-guide"

    - if current_user == @product.user
      .prduct-box-content-delete
        .prduct-box-content-delete__content
          %button#product-edit
            %i.fa.fa-product-edit 商品の編集
          .product-or
            or
          %button#product-stop
            %i.fa.fa-product-sotop
              出品を一旦停止する
          %button#product-delete
            =link_to "この商品を削除する", product_path(params[:id]), method: :delete ,class: "product-delete"
            %i.fa.fa-product-delete


    .product-box-content-under
      .product-box-content-under__message
        .product-box-content__message__box
          = form_for "#", html: { class: "product-message-form"} do |f|
            %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = f.text_area :text, class: "product-textarea"
            = f.submit 'コメントする', class: "product-mesage-submit"

    %ul.product-link-list
      -unless @back_product.blank?
        %li.product-link-list__left
          = link_to "#{@back_product.name}", product_path(@back_product.id)
      -unless @next_product.blank?
        %li.product-link-list__right
          = link_to "#{@next_product.name}", product_path(@next_product.id)

    .product-media-box
      %ul.product-media-box__list
        %li
          = link_to "#" do
            %i.fa.fa-facebook-official
        %li
          = link_to "#" do
            %i.fa.fa-twitter
        %li
          = link_to "#" do
            %i.fa.fa-pinterest

    .products-introduction
      .products-introduction__user
        %h2.product-box-head
          = link_to "#{@seller.nickname}さんのその他の商品", "#", class: "product-box-head__link"
        .product-introduction-box-content
          - unless @seller_other_products.blank?
            -@seller_other_products.each do |product|
              .product-introduction-box-content__product-box
                = link_to product_path(product.id) do
                  %figure.product-box-photo
                    = image_tag("#{product.images[0].image}")
                  .product-box-body
                    %h3.product-box-body__title
                      =product.name
                    .product-box-body__other
                      .product-box-body__other__price
                        = "¥#{product.price.to_s(:delimited)}"
                      .product-box-body__other__like
                        %span 数

      .products-introduction__category
        %h2.product-box-head
          = link_to "#{@category.name}その他の商品", "#", class: "product-box-head__link"
        .product-introduction-box-content
          - unless @category_other_products.blank?
            -@category_other_products.each do |product|
              .product-introduction-box-content__product-box
                = link_to product_path(product.id) do
                  %figure.product-box-photo
                    = image_tag("#{product.images[0].image}")
                  .product-box-body
                    %h3.product-box-body__title
                      = product.name
                    .product-box-body__other
                      .product-box-body__other__price
                        = "¥#{product.price.to_s(:delimited)}"
                      .product-box-body__other__like
                        %span 数

    %nav.bread-crumbs-bottom
      %ul
        %li
          = link_to "メルカリ", "#"
        %li
          %span 商品名

  = render partial: 'shared/footer'
