<!DOCTYPE html>
<html>
  <head>
    <title>FreemarketSample62f</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="wrapper">
    <header id="header">
      <div class="header__upper-contents"></div>
      <div class="header__lower-contents"></div>
    </header>
    <aside id="aside">
    </aside>
  </div>




  <body>
    <%= yield %>
  </body>
</html>
